:root {
  /* primary colors */
  --color-primary: #FFCD42;
  --color-primary-shadow: #F3A62B;
  --color-primary-highlight: #FFEC70;

  /* secondary colors */
  --color-secondary: #FFE8BD;
  --color-secondary-shadow: #EFCE9E;
  --color-secondary-highlight: #FFF6C7;

  /* background */
  --color-background: #FFFFFF;
  --color-background-offset: #EEF7FD;

  /* text */
  --color-text: #082C4C;
  --color-text-shadow: #000000;
  --color-text-highlight: #225F74;
}

/* basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body styling */
body {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
}

/* products list page */
.products-list-container{
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: var(--color-background);
}

.products-list-navbar{
  width: 250px;
  background-color: var(--color-primary);
  padding: 20px;
  margin: 40px 10px;
  height: 80%;
  border-radius: 10px;
  box-shadow: 4px 4px 0px var(--color-primary-shadow), 4px 0px 0px var(--color-primary-shadow), 0px 4px 0px var(--color-primary-shadow),
              12px 12px 0px var(--color-background-offset);
  text-align: center;
}

.products-list-navbar a{
  text-decoration: none;
  color: var(--color-text);
}

.products-list-navbar ul{
  list-style-type: none;
}

.products-list-navbar h2{
  margin-top: 20px;
  margin-bottom: 10px;
  text-shadow: 0.5px 0.5px 0.5px var(--color-text-shadow);
}

.products-list-navbar hr{
  height: 1.4px;
  border: none;
  background-color: var(--color-text);
  box-shadow: 1px 1px 0px var(--color-text-shadow);
}

.products-list-navbar li{
  color: var(--color-text);
  margin-top: 35px;
  background-color: var(--color-background);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 0px var(--color-background-offset), 0px 2px 0px var(--color-background-offset), 2px 0px 0px var(--color-background-offset);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.products-list-navbar li:hover{
  transform: scale(1.05);
}

.products-list-content{
  flex-grow: 1;
  padding: 20px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 10px;
  margin-bottom: 40px;
  text-align: center;
  background-color: var(--color-secondary);
  border-radius: 10px;
  box-shadow: 4px 4px 0px var(--color-secondary-shadow), 4px 0px 0px var(--color-secondary-shadow), 0px 4px 0px var(--color-secondary-shadow),
              12px 12px 0px var(--color-background-offset);
}

.products-list-content input{
  padding: 15px;
  text-align: center;
  margin: 20px 10px;
  width: 40%;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: var(--color-background);
  box-shadow: 4px 4px 0px var(--color-secondary-shadow);
}

.products-list-content button{
  padding: 15px;
  text-align: center;
  margin: 20px 10px;
  width: 10%;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: var(--color-background);
  box-shadow: 4px 4px 0px var(--color-secondary-shadow);
  color: var(--color-text);
  transition: 0.3s ease;
  cursor: pointer;
}

.products-list-content button:hover{
  background-color: var(--color-background-offset);
  transform: scale(1.05);
}

#add-product-button{
  padding: 15px;
  text-align: center;
  margin: 20px 10px;
  width: 30%;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: var(--color-primary);
  box-shadow: 4px 4px 0px var(--color-primary-shadow);
  color: var(--color-text);
}

#add-product-button:hover{
  background-color: var(--color-primary-highlight);
  box-shadow: 4px 4px 0px var(--color-primary);
}

.products-list-content table{
  text-align: center;
  box-shadow: -8px -8px 0px var(--color-secondary-shadow), 0px -8px 0px var(--color-secondary-shadow), -8px 0px 0px var(--color-secondary-shadow);
}

.products-list-table{
  text-align: center;
  flex-grow: 1;
  min-height: 0;
  overflow-y: scroll;
  margin-top: 20px;
  height: 80%;
}

.products-list-table table{
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 0px;
}

.products-list-table thead{
  background-color: var(--color-text-highlight);
  color: var(--color-background);
}

.products-list-table td{
  background-color: var(--color-background);
  border: 1.5px solid var(--color-text);
  padding: 10px 20px;
}

.products-list-table th{
  padding: 10px 20px;
  border: 1.5px solid var(--color-text);
}


/* members page */
.members-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.members-navbar{
  width: 250px;
  background-color: #f1f1f1;
  padding: 20px;
  height: 100vh;
}

.members-content{
  flex-grow: 1;
  padding: 20px;
}