.receipt-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.receipt-wrapper {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px; */
    width: 100%;
    max-width: 420px;

    position: relative;
}

.receipt {
    width: 100%;
    padding: 64px 32px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 1px solid #E49D0080;

    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);
}

.receipt img {
    scale: 1.5;
}

.receipt .datetime {
    display: flex;
    gap: 20px;
    align-items: center;

    font-family: 600;
}
.receipt .datetime > div {
    display: inline-flex;
    gap: 8px;
}

.receipt .details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.receipt .details #carts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.receipt .details #carts > .cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.receipt .details #carts > .cart .cart-detail {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.receipt .details #carts > .cart .cart-detail .product-price {
    opacity: .5;
}
.receipt .details #carts > .cart .total-price {
    font-size: 20px;
    font-weight: 700;
}

.receipt .details .payment {
    display: flex;
    flex-direction: column;
}
.receipt .details .payment > div {
    display: flex;
    gap: 8px;
    align-items: center;
}
.receipt .details .payment > div span {
    text-align: right;
}
.receipt .details .payment > div .label {
    flex: 1;
}
.receipt .details .payment > div .val {
    width: 120px;
}
.receipt .details .payment > div.total {
    font-weight: 700;
    font-size: 20px;
}

/* Update this existing rule */
.receipt-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* padding: 0 16px; */

    position: absolute;
    top: -20px;
    transform: translateY(-100%);
}
/* .action-link {
    background: transparent;
    border: none;
    padding: 0;

    display: inline-flex;
    align-items: center;
    gap: 8px;

    color: var(--color-text-highlight);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-family);
    cursor: pointer;
    transition: color 0.2s ease;
}

.action-link:hover {
    color: var(--color-text);
} */
